node_modules
dist
.git
.gitignore
.nx
.vscode
.env
.env.example
*.md
!package.json
!bun.lock
!tsconfig.base.json
!nx.json
!eslint.config.mjs
!jest.config.ts
!jest.preset.js
!vitest.workspace.ts
!apps/backend/src
!apps/backend/project.json
!apps/backend/tsconfig*.json
!apps/backend/webpack.config.js
!apps/backend/.sequelizerc
!apps/frontend/src
!apps/frontend/project.json
!apps/frontend/tsconfig*.json
!apps/frontend/vite.config.mts
!apps/frontend/index.html
!apps/frontend/public
!libs/shared/src
